body {
    font-family: Arial, sans-serif;
    background-color: #929292;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative; /* Ensure the heading's z-index works */
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    position: relative;
    z-index: 1;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px; /* Adjust margin as needed */
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1 0 22%; /* Adjust width of buttons as needed */
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    button {
        flex: 1 0 45%; /* Adjust width of buttons for smaller screens */
    }
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

