<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pylauncher.css') }}">
    <title>Command Result</title>
</head>
<body>
    <div class="container">
        <h1>Command Result</h1>
        <pre>{{ output }}</pre>
        <a href="/">Back to Search</a>
    </div>
</body>
</html>
