<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pylauncher.css') }}">
    <title>Launcher</title>
</head>
<body>
    <div id="container">
        <h1>Launcher</h1>
        <form action="/search" method="post">
            <label for="query">Search:</label>
            <input type="text" id="query" name="query">
            <button type="submit">Search</button>
        </form>
        <div id="buttons">
            <!-- Buttons will be dynamically added here -->
        </div>
    </div>

    <script>
        // Function to send AJAX request to server and update search results
        function search() {
            var query = document.getElementById('query').value;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/search', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var results = JSON.parse(xhr.responseText);
                        var buttonsDiv = document.getElementById('buttons');
                        buttonsDiv.innerHTML = '';
                        results.forEach(function(result) {
                            var button = document.createElement('button');
                            button.textContent = result.name; // Display the name property, adjust as needed
                            button.addEventListener('click', function() {
                                runCommand(result.command);
                            });
                            buttonsDiv.appendChild(button);
                        });
                    } else {
                        console.error('Error fetching search results');
                    }
                }
            };
            xhr.send(JSON.stringify({query: query}));
        }

        // Function to run command in the CLI
        function runCommand(command) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/run-command', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({command: command}));
        }

        // Attach event listener to input field for real-time search
        document.getElementById('query').addEventListener('input', search);

        // Load initial list of buttons
        search();
    </script>
</body>
</html>
